PORT=8001
DBHOST=localhost
DBNAME=db_name
DBUSER=db_user
DBPASS=db_password
DBPORT=3306
JWTKEY=NCRUp5hKovUAcZd9OwIw0BCKmjZj9JxpNCRUp5hKovUAcZd9OwIw0BCKmjZj9JxpNCRUp5hKovUAcZd9OwIw0BCKmjZj9Jxp
FRONTENDURI=https://domain.com
BACKURI=https://domain.com
STRIPE_LANG=en
NODE_ENV=logs